{% extends 'index.html' %}
{% load static %}

{% block codigoDinamico %}

<div class="container mt-5">
    <h1 class="h-primary text-center mb-4">Lista de Posteos</h1>

    {% if object_list.all %}
        {% for post in object_list %}
            <div class="card shadow mb-4">
                <div class="card-body">
                    {% if post.imagen %}
                        <img src="{{ post.imagen.url }}" alt="Imagen del post" class="img-fluid mb-3">
                    {% else %}
                        <p class="text-muted">No hay imagen asociada a este post.</p>
                    {% endif %}
                    <h5 class="card-title">{{ post.titulo }}</h5>
                    <h5 class="card-subtitle">{{ post.sub_titulo }}</h5>
                    <br>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Autor:</strong> {{ post.autor }}</li>
                        <li class="list-group-item"><strong>Categoría:</strong> {{ post.categoria }}</li>
                        <li class="list-group-item">{{ post.fecha }}</li>
                        <li class="list-group-item">{{ post.texto }}</li>
                    </ul>
                    <div class="mt-3 text-center">
                        <a href="{% url 'Detail' post.id %}" class="btn btn-success mr-2" style="color:white; text-decoration:none;">Ver Detalles</a>
                        <a href="{% url 'Delete' post.id %}" class="btn btn-danger mr-2" style="color:white; text-decoration:none;">Eliminar</a>
                        <a href="{% url 'Update' post.id %}" class="btn btn-primary" style="color:white; text-decoration:none;">Actualizar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
            <h2 class="h-primary">No hay posteos creados</h2>
        </div>
    {% endif %}

    <div class="text-center mt-5">
        <button class="btn btn-success">
            <a href="{% url 'Crear' %}" style="color:white; text-decoration:none;">Crear Nuevo Post</a>
        </button>
    </div>
</div>

{% endblock %}
