{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}

<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
    Lista de Posteos
</h1>

{% if object_list.all %}

    {% for post in object_list %}
        <div class="m-5 p-5">
            <ul>
                <table>
                    <li class="list-group-item">Titulo: {{ post.titulo }}</li>    
                    <li class="list-group-item"><img src="{{ post.imagen.url }}" alt="..."></li>
                    <li class="list-group-item">Sub Titulo: {{ post.sub_titulo }}</li>
                    <li class="list-group-item">Autor: {{ post.autor }}</li>
                    <li class="list-group-item">Categoria: {{ post.categoria }}</li> 
                    <li class="list-group-item">Fecha: {{ post.fecha }}</li> 
                    <li class="list-group-item">Texto: {{ post.texto }}</li>

                    <button class="btn btn-success">
                        <a style="color:white; text-decoration:none;" href="{% url 'Detail' post.id %}">Ver Detalles</a>
                    </button>
                    <button class="btn btn-danger">
                        <a style="color:white; text-decoration:none;" href="{% url 'Delete' post.id %}">Eliminar</a>
                    </button>
                    <button class="btn btn-primary">
                        <a style="color:white; text-decoration:none;" href="{% url 'Update' post.id %}">Actualizar</a>
                    </button>
                </table>
            </ul>
        </div>

    {% endfor %}
{% else %}
    <div class="m-5 p-5">
        <h2 class="h-primary center" style="margin-top:30px;text-align:center;">
            No hay posteos creados
        </h2>
    </div>

{% endif %}
<div class="m-5 p-5">        
    <button class="btn btn-success">
        <a style="color:white; text-decoration:none;" href="{% url 'Crear' %}">Crear Nuevo Post</a>
    </button>
</div>


{% endblock %}