{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
<div class="container-fluid py-5" style="background-color: #f8f9fa;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0">
                <img src="{{ post.imagen.url }}" class="card-img-top rounded-top img-fluid" alt="Imagen del Post">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4" style="font-size: 2.5rem; color: #343a40; font-weight: bold;">{{ post.titulo }}</h1>
                    <p class="card-text text-muted text-center" style="font-size: 1.2rem;"><strong>Autor:</strong> {{ post.autor }}</p>
                    <p class="card-text text-muted text-center" style="font-size: 1.2rem;"><strong>Categoría:</strong> {{ post.categoria }}</p>
                    <h2 class="card-subtitle text-center mb-4" style="font-size: 2rem; color: #6c757d;">{{ post.sub_titulo }}</h2>
                    <p class="card-text" style="font-size: 1.2rem;">{{ post.texto }}</p>
                </div>
                <div class="card-footer bg-light text-muted text-center">
                    <small style="font-size: 1rem;">Publicado el {{ post.fecha }}</small>
                </div>
            </div>
            <div class="mt-5 text-center">
                <a href="{% url 'List' %}" class="btn btn-primary btn-lg" style="font-size: 1.5rem; padding: 0.75rem 3rem;">Regresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
