{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}

<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
    {{post.titulo}}
</h1>
<img src="{{post.imagen}}" alt="{{post.titulo}}">
<h3 class="h-primary center" style="margin-top:30px;text-align:center;">{{post.sub_titulo}}</h3>
<p class="h-primary center" style="margin-top:30px;text-align:center;">{{post.fecha}}</p>
<p class="h-primary center" style="margin-top:30px;text-align:center;">{{post.texto}}</p>

<button class="btn btn-primary m-5">
    <a style="color:white; text-decoration:none;" href="{% url 'List' %}">Regresar</a>
</button>

{% endblock %}