{% extends 'index.html' %}
{% load static %}

{% block codigoDinamico %}

<style>
    .custom-text {
        font-size: 18px;
        line-height: 1.6;
        color: #333;
    }
</style>

<!-- Sección de Quiénes Somos -->
<div class="min-vh-100">
    <section class="background firstsection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h-primary text-center mt-5">Quiénes Somos</h1>
                    <p class="text-center custom-text">
                        Somos un equipo apasionado por la tecnología y la innovación, comprometidos con brindar soluciones creativas y efectivas a nuestros clientes. En Nozama, nos esforzamos por ofrecer productos y servicios de la más alta calidad, siempre buscando superar las expectativas y generar un impacto positivo en la comunidad.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Equipo -->
    <section class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h-primary text-center mt-5">Nuestro Equipo</h1>
                    <div class="box text-center">
                        <img src="{% static 'Home/assets/profile-pic.png' %}" alt="Foto de perfil" class="img-fluid rounded-circle" style="max-width: 180px;">
                        <p class="font-weight-bold text-dark" style="font-size: 24px; margin-top: 10px;">Franco Nicolas Jones</p>
                        <p class="font-weight-bold" style="font-size: 20px; color: #666;">CEO y Fundador</p>
                        <p class="text-muted" style="font-size: 16px;">Con más de 10 años de experiencia en la industria, Franco lidera nuestro equipo con pasión y visión estratégica.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
