{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}

<div class="m-5 p-5">
    <form action="buscar/" method="GET">

        <input type="text" name="titulo" id="titulo">

        <input class="btn btn-primary" type="submit" value="Buscar">

    </form>
</div>
    {% block codigoDinamico1 %}
    <div class="m-5 p-5">
        <h1 class="h-primary center" style="margin-top:30px;text-align:center;">Resultado de tu búsqueda</h1>   
        
            <p>{{respuesta}}</p>
        
        {% if post %}
            
        <div class="m-5 p-5">
            <ul class="list-group">
                {% for i in post %}
                <li class="list-group-item">{{ i.imagen }}</li>
                <li class="list-group-item">Autor: {{ i.user }}</li>  
                <li class="list-group-item">Titulo: {{ i.titulo }}</li>            
                <li class="list-group-item">Sub Titulo: {{ i.sub_titulo }}</li>
                <li class="list-group-item">Fecha: {{ i.fecha }} min</li> 
                <li class="list-group-item">Texto: {{ i.texto }}</li>
                {% endfor %}
            </ul>
        </div>

        {% endif %}

        <button class="btn btn-primary" onclick="location.href='{% url 'Home' %}'">Volver</button>
    </div>

    {% endblock  %}

{% endblock  %}