{% extends 'index.html' %}
{% load static %}

{% block codigoDinamico %}

<style>
    body {
        background-image: url("{% static 'Home/assets/background_6.jpg' %}");
        background-size: cover;
        background-position: center;
        color: #fff;
    }
</style>

<div class="container background-container">
    <h1 class="h-primary text-center mt-5">Buscar Post</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5 shadow-lg">
                <div class="card-body">
                    <form action="{% url 'Buscar' %}" method="GET">
                        <div class="mb-3">
                            <label for="titulo" class="form-label fs-5">Ingrese su búsqueda aquí:</label>
                            <input type="text" class="form-control form-control-lg" name="titulo" id="titulo" placeholder="Ingrese su búsqueda aquí">
                        </div>
                        <div class="text-center">
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block codigoDinamico1 %}
    {% if mensaje or respuesta %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                {{ mensaje }}
                {{ respuesta }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if post %}
    <h2 class="h-primary text-center mt-5">Resultado de tu búsqueda</h2>
    <div class="row justify-content-center mt-5">
        {% for i in post %}
        <div class="col-lg-6">
            <div class="card mb-4 shadow-lg">
                <img src="{{ i.imagen.url }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-5">Titulo: {{ i.titulo }}</h5>
                    <p class="card-text fs-6">Subtítulo: {{ i.sub_titulo }}</p>
                    <p class="card-text fs-6">Autor: {{ i.user }}</p>
                    <p class="card-text fs-6">Fecha: {{ i.fecha }}</p>
                    <p class="card-text fs-6">Texto: {{ i.texto }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <button class="w-100 btn btn-lg btn-primary" onclick="location.href='{% url 'Home' %}'">Volver</button>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}
