{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
<!-- FORMULARIO DE CONTACTO -->

    <body>

        <main class="container">
            <div class="row my-4 py-4">
                <div class="text-center">
                    <h1>¡Contactanos!</h1>
                </div>
            </div>
            <div class="m-5 p-5">
                <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                
                    {{form.as_p}}
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </form>
            </div>
            
{% endblock %}