<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gaming Zone</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'Home/assets/zicon.ico' %}" />
        <!-- Bootstrap CSS (CDN) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap Icons CSS (CDN) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        
        <style>
                /* Custom styles for the navbar */
            .navbar-brand {
                font-size: 1.2rem;
            }

            .navbar-nav .nav-link {
                font-size: 0.8rem;
                color: #fff;
                font-weight: 500;
                transition: color 0.3s;
            }

            .navbar-nav .nav-link:hover {
                color: #fff; /* Cambia el color del texto a blanco cuando se pasa el mouse */
            }

            @media (max-width: 991.98px) {
                .navbar-nav {
                    margin-top: 10px;
                    text-align: center;
                }

                .navbar-nav .nav-item {
                    padding-bottom: 8px;
                }
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="{% url 'Home' %}">Gaming Zone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Home' %}">Home</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Editar Usuario' %}">Editar Usuario</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'Sign Up' %}">Sign Up</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Login</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Mostrar Posteos' %}">Mostrar Posteos (FBV)</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'List' %}">Mostrar Posteos (CBV)</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Buscar' %}">Buscar Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Crear' %}">Crear Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Contacto' %}">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block codigoDinamico %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Te damos la bienvenida al Blog Gaming Zone</h1>
                    {% if request.user.is_authenticated %}
                        {% if perfil_usuario %}
                            {% if perfil_usuario.imagen %}
                                <img src="{{ perfil_usuario.imagen.url }}" alt="Imagen de perfil del usuario" class="rounded-circle img-thumbnail perfil-imagen" style="width: 100px; height: 100px;">
                            {% else %}
                                <p>No hay imagen de perfil disponible</p>
                            {% endif %}
                            <h3>{{ request.user.username }}</h3>
                            {% comment %} <h3>{{ request.user.id }}</h3> {% endcomment %}
                        {% endif %}
                    {% else %}
                        <h3>Invitado</h3>
                    {% endif %}
                    <p class="lead mb-0">Un Blog Gamer para Gamers!</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    {% if latest_posts %}
                        <!-- Featured blog post-->
                        <div class="card mb-4">
                            {% if latest_posts.0.imagen %}
                                <a href="{{ latest_posts.0.get_absolute_url }}"><img class="card-img-top" src="{{ latest_posts.0.imagen.url }}" alt="{{ latest_posts.0.titulo }}" /></a>
                            {% endif %}
                            <div class="card-body">
                                <div class="small text-muted">{{ latest_posts.0.fecha }}</div>
                                <h2 class="card-title">{{ latest_posts.0.titulo }}</h2>
                                <p class="card-text">{{ latest_posts.0.texto }}</p>
                                <a class="btn btn-primary" href="{{ latest_posts.0.get_absolute_url }}">LEER MÁS »</a>
                            </div>
                        </div>
                        <!-- Nested row for non-featured blog posts-->
                        <div class="row">
                            {% for post in latest_posts|slice:"1:" %}
                            <div class="col-lg-6">
                                <!-- Blog post-->
                                <div class="card mb-4">
                                    <a href="{{ post.get_absolute_url }}"><img class="card-img-top" src="{{ post.imagen.url }}" alt="{{ post.titulo }}" /></a>
                                    <div class="card-body">
                                        <div class="small text-muted">{{ post.fecha }}</div>
                                        <h2 class="card-title h4">{{ post.titulo }}</h2>
                                        <p class="card-text">{{ post.texto }}</p>
                                        <a class="btn btn-primary" href="{{ post.get_absolute_url }}">LEER MÁS »</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            Todavía no hay posts creados. ¡Anímate a crear el primero!
                        </div>
                    {% endif %}
                </div>

                <!-- Pagination-->
                    <!--<nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>-->

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Buscar</div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <form action="buscar/" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar..." name="titulo" id="titulo">
                                        <button class="btn btn-primary" id="button-search" type="submit">Go!<i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categorias</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'Noticias' categoria="Noticias" %}">Noticias</a></li>
                                        <li><a href="{% url 'Reviews' categoria="Reviews" %}">Reviews</a></li>
                                        <li><a href="{% url 'Gaming' categoria="Gaming" %}">Gaming</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'Software' categoria="Software" %}">Software</a></li>
                                        <li><a href="{% url 'Hardware' categoria="Hardware" %}">Hardware</a></li>
                                        <li><a href="{% url 'List' %}">Todo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock  %}
        <!-- Footer-->
        <footer class="footer py-5 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/franco-nicolas-jones-266a62162" class="text-decoration-none text-white">
                                    <i class="bi bi-linkedin"></i> Franco's Linkedin
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/Zero9BSC" class="text-decoration-none text-white">
                                    <i class="bi bi-github"></i> Franco's Github
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="m-0 text-center text-white">&copy; Zero9BSC 2022</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Home/js/scripts.js' %}"></script>
    </body>
</html>
