{% extends 'index.html' %}
{% load static %}

{% block codigoDinamico %}
<style>
    body {
        background-image: url("{% static 'Home/assets/background_2.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
    }

    .titulo-login {
        margin-top: 5rem;
        font-size: 2rem;
        text-align: center;
    }
</style>

<div class="container">
    <h1 class="titulo-login">Iniciar Sesión</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5 shadow-lg">
                <div class="card-body">
                    <form class="p-4" action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label fs-5">Nombre de usuario</label>
                            <input type="text" name="username" class="form-control form-control-lg" id="id_username" placeholder="Nombre de usuario">
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label fs-5">Contraseña</label>
                            <input type="password" name="password" class="form-control form-control-lg" id="id_password" placeholder="Contraseña">
                        </div>
                        <div class="mb-3">
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p class="fs-6 mb-0">¿No tienes una cuenta?</p>
                        <a href="{% url 'Sign Up' %}" class="btn btn-link">Regístrate aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
