{% extends 'index.html' %}

{% load static %} 

{% block codigoDinamico %}

<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
    Lista de Posteos
</h1>


<div class="m-5 p-5">
    {% if posteos %}

            {% for post in posteos %}


            <p class="m-5">id: {{post.id}} | {{post}}</p>
                <button class="btn btn-danger">
                    <a style="color: white; text-decoration: none" href="{% url 'Eliminar Posteos' post_id=post.id %}">Eliminar</a>
                </button>
                <button class="btn btn-primary">
                    <a style="color: white; text-decoration: none" href="{% url 'Actualizar Posteos' post_id=post.id %}">Actualizar</a>
                </button>

            {% endfor %}
    {% else %}
    <div >
        <h2 class="h-primary center" style="margin-top:30px;text-align:center;">
            No hay posteos creados
        </h2>
    </div>

    {% endif %}
    <div class="m-5 p-5">
        <button class="btn btn-success">
            <a style="color:white; text-decoration:none;" href="{% url 'Crear' %}">Crear Nuevo Post</a>
        </button>
    </div>
</div>

{% endblock %}