{% extends 'index.html' %}
{% load static %} 

{% block codigoDinamico %}

<div class="container mt-5">
    <h1 class="h-primary text-center mb-4">Lista de Posteos</h1>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-body">
                    {% if posteos %}
                        <ul class="list-group list-group-flush">
                            {% for post in posteos %}
                                <li class="list-group-item">
                                    {% if post.imagen %}
                                        <img src="{{ post.imagen.url }}" alt="Imagen del post" class="img-fluid post-imagen">
                                    {% else %}
                                        <p class="text-muted">No hay imagen asociada a este post.</p>
                                    {% endif %}
                                    <p><strong>Autor:</strong> {{ post.autor }}</p>
                                    <p><strong>Categoría:</strong> {{ post.categoria }}</p>
                                    <p>{{ post.fecha }}</p>
                                    <h2 class="card-title">{{ post.titulo }}</h2>
                                    <p>{{ post.sub_titulo }}</p>                                    
                                    <p>{{ post.texto }}</p>
                                    {% if post.es_autor %}
                                        <div class="mt-3">
                                            <a href="{% url 'Eliminar Posteos' post_id=post.id %}" class="btn btn-danger mr-2" style="color: white; text-decoration: none;">Eliminar</a>
                                            <a href="{% url 'Actualizar Posteos' post_id=post.id %}" class="btn btn-primary" style="color: white; text-decoration: none;">Actualizar</a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center">
                            <h2 class="h-primary">No hay posteos creados</h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <button class="btn btn-success">
            <a href="{% url 'Crear' %}" style="color: white; text-decoration: none;">Crear Nuevo Post</a>
        </button>
    </div>
</div>
{% endblock %}
