{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}

    <h1 class="h-primary center" style="margin-top:30px;text-align:center;">
        Posteos de Gaming
    </h1>

    {% if object_list.all %}

            {% for post in object_list %}    

                    <li class="list-group-item">Titulo: {{ post.titulo }}</li>    
                    <li class="list-group-item"><img src="{{ post.imagen.url }}" alt="..."></li>
                    <li class="list-group-item">Sub Titulo: {{ post.sub_titulo }}</li>
                    <li class="list-group-item">Autor: {{ post.autor }}</li>
                    <li class="list-group-item">Categoria: {{ post.categoria }}</li> 
                    <li class="list-group-item">Fecha: {{ post.fecha }}</li> 
                    <li class="list-group-item">Texto: {{ post.texto }}</li>

                    <button class="btn btn-success m-5">
                        <a style="color:white; text-decoration:none;" href="{% url 'Detail' post.id %}">Ver Detalles</a>
                    </button>
                    <button class="btn btn-danger m-5">
                        <a style="color:white; text-decoration:none;" href="{% url 'Delete' post.id %}">Eliminar</a>
                    </button>
                    <button class="btn btn-primary m-5">
                        <a style="color:white; text-decoration:none;" href="{% url 'Update' post.id %}">Actualizar</a>
                    </button>

            {% endfor %}

        {% else %}
            <h1 class="h-primary center" style="margin-top:30px;text-align:center;">
                No hay posteos con esta categoria aun, quieres crear uno?
            </h1>
            
                <button class="btn btn-success">
                    <a style="color:white; text-decoration:none;" href="{% url 'Crear' %}">Crear Nuevo Post</a>
                </button>

    {% endif %}

    <button class="btn btn-primary m-5">
        <a style="color:white; text-decoration:none;" href="{% url 'Home' %}">Regresar</a>
    </button>

{% endblock  %}