{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}

    <h1 class="h-primary center" style="margin-top: 30px; text-align: center;">Posteos de Gaming</h1>

    {% if object_list.all %}

        <div class="container">
            <div class="row">
                {% for post in object_list %}
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            {% if post.imagen %}
                                <img src="{{ post.imagen.url }}" class="card-img-top" alt="Imagen">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ post.titulo }}</h3>
                                <p class="card-text">{{ post.sub_titulo }}</p>
                                <p class="card-text">Autor: {{ post.autor }}</p>
                                <p class="card-text">Categoría: {{ post.categoria }}</p>
                                <p class="card-text">Fecha: {{ post.fecha }}</p>
                                <p class="card-text">Texto: {{ post.texto }}</p>
                                <div class="d-grid gap-2">
                                    <a href="{% url 'Detail' post.id %}" class="btn btn-success">Ver Detalles</a>
                                    {% if post.autor.usuario == request.user %}
                                        <a href="{% url 'Delete' post.id %}" class="btn btn-danger">Eliminar</a>
                                        <a href="{% url 'Update' post.id %}" class="btn btn-primary">Actualizar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <h1 class="h-primary center" style="margin-top: 30px; text-align: center;">
            No hay posteos con esta categoría aún. ¿Quieres crear uno?
        </h1>
        


    {% endif %}
    {% if request.user.is_authenticated %}
        <div class="text-center mt-5">
            <button class="btn btn-success">
                <a href="{% url 'Crear' %}" style="color: white; text-decoration: none;">Crear Nuevo Post</a>
            </button>
        </div>
    {% endif %}

    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a href="{% url 'Home' %}" class="btn btn-primary">Regresar</a>
    </div>

{% endblock  %}
