{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}


<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
    Registro de usuario
</h1>
<div class="m-5 p-5">
    <div>
        <form action="{% url 'Sign Up' %}" method="post">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ perfil_form.as_p }}
        
            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>

        </form>
    </div>
</div>
{% endblock %}